<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.louisgeek.louisservicedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NextActivity"/>





        <!-- 配置Service组件,同时配置一个action -->
        <service android:name=".MyService">
            <intent-filter>
                <action android:name="com.zfq.service.MY_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name=".MyService2" android:exported="false">
            <intent-filter>
                <action android:name="com.zfq.service.MY_SERVICE2"/>
            </intent-filter>
        </service>

        <service android:name=".MyIntentService" android:exported="false">
            <intent-filter >
                <action android:name="com.zfq.service.MY_INTENTSERVICE"/>
            </intent-filter>
        </service>

        <service android:name=".LongRunningService" android:exported="false">
            <intent-filter >
                <action android:name="com.zfq.service.LONG_RUNNING_SERVICE"/>
            </intent-filter>
        </service>


        <receiver android:name=".MainActivity$AlarmReceiver">
            <intent-filter>
                <action android:name="com.zfq.receiver.ALARMRECEIVER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
